<div class="container showDive">
  <div class="row">

    <div class="col-6">
      <img src="<%= dive.image %>" alt="<%= dive.location %>">
      <h4>UserProfile</h4>
      <h6> Name: <%= dive.createdBy.username %></h6>
      <h6>Location:<%= dive.location %></h6>

      <h6>Difficulty: <%= dive.difficulty %><br></h6>
      <h6>Visibility: <%= dive.visibility %><br></h6>
      <h6>Dive Month: <%= dive.diveMonth %><br></h6>
      <input type="hidden" name="latitude" value="<%= dive.latitude %>" />
      <input type="hidden" name="longitude" value="<%= dive.longitude %>" />
      <% while(dive.stars--) { %> &star; <% } %>

      <hr>

      <% if(locals.isLoggedIn && dive.belongsTo(user)) { %>
        <a href="/dives/<%= dive.id %>/edit">Edit</a>

        <form method="POST" action="/dives/<%= dive.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button>Delete</button>
        </form>
      <% } %>
    </div>

    <div class="col-6">
      <div id="map"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <% dive.comments.forEach((comment) => { %>
        <p><%= comment.content %></p>
        <small><%= comment.createdBy.username %></small>

        <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
          <form method="POST" action="/dives/<%= dive.id %>/comments/<%= comment.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button>Delete</button>
          </form>
        <% } %>
      <% }) %>

      <% if(locals.isLoggedIn) { %>
        <section>
          <h4>Leave a comment</h4>
          <form method="POST" action="/dives/<%= dive.id %>/comments">
            <textarea name="content" id="content" placeholder="Comment"></textarea>
            <button class="button">Leave a comment</button>
          </form>
        </section>
      <% } %>
    </div>
  </div>
</div>
