<div class="showDive">
  <div class="row">


    <div class="showLeft">
    <div class="col-6">
      <img src="<%= dive.image %>" alt="<%= dive.location %>">
      <div class="showLeftText">
      <h4>User Review</h4>
      <h6> Username: <%= dive.createdBy.username %></h6>
      <h6>Location:<%= dive.location %></h6>

      <h6>Difficulty: <%= dive.difficulty %><br></h6>
      <h6>Visibility: <%= dive.visibility %><br></h6>
      <h6>Dive Month: <%= dive.diveMonth %><br></h6>
      <input type="hidden" name="latitude" value="<%= dive.latitude %>" />
      <input type="hidden" name="longitude" value="<%= dive.longitude %>" />
      <% while(dive.stars--) { %> &star; <% } %>
    </div>
</div>
      <hr>
      <hr>

      <% if(locals.isLoggedIn && dive.belongsTo(user)) { %>
        <a href="/dives/<%= dive.id %>/edit">Edit</a>

        <form method="POST" action="/dives/<%= dive.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button>Delete</button>
        </form>
      <% } %>
    </div>
<div class="showRight">
    <div class="col-6">
      <div id="map"></div>
    </div>
  </div>
  </div>






<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">

                    <hr>
                    <div class="pull-left meta">
                        <div class="commentsForm">

                          <% dive.comments.forEach((comment) => { %>
                              <div class="pull-left image">
                              <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                              </div>
                            <p><%= comment.content %></p>

                            <small><%= comment.createdBy.username %></small>
                            <hr>

                            <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
                              <form method="POST" action="/dives/<%= dive.id %>/comments/<%= comment.id %>">
                                <input type="hidden" name="_method" value="DELETE">
                                <button>Delete</button>
                              </form>
                            <% } %>
                          <% }) %>
                    </div>
                </div>
                <div class="post-description">
                  <% if(locals.isLoggedIn) { %>
                    <section>

                      <form method="POST" action="/dives/<%= dive.id %>/comments">
                        <textarea name="content" id="content" placeholder="Comment"></textarea>
                        <button class="button">Leave a comment</button>
                      </form>
                    </section>
                  <% } %>

                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
